* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    width: 100vw;
    height: 100vh;
}

h1 {
    margin-left: 25%;
    font-size: 2rem;
}

img {
    height: 300px;
    margin-left: 30%;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(7, 50px);
    grid-gap: 5px;
    margin-left: 30%;
}

.calculator__input-area {
    grid-column: 1/-1;
    grid-row: 1/3;
    background: #44AFF2;
    color: #f2f2f2;
    position: relative;
}

.inp-num {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 2.2rem;
    text-align: right;
    padding: 0 20px;
    overflow: hidden;
}

.operator,
.calc-num,
.clear,.pos-neg
,
#percent,#decimal,
#equal {
    background: #07F2F2;
    color: #44AFF2;
    text-align: center;
    padding-top: 20px;
    font-size: 1.4rem;
    cursor: pointer;
}

.operator,
#equal {
    background: #FF8329;
    color: #0D0D0D;
}

div {
    grid-gap: 5px;
}

.zero {
    grid-column: 1/3;
    text-align: left;
    padding-left: 35px;
}

.calculator__input-area {
    border-radius: 5px 5px 0 0;
}

.zero {
    border-radius: 0 0 0 5px;
}

#equal {
    border-radius: 0 0 5px 0;
}