*
    margin 0
    padding 0
    box-sizing border-box

h1 
    color #44AFF2

p
    font-size 1.8rem
    margin-left 35%

img 
    width 100%

.plug
    width 100vw
    display flex
    justify-content space-evenly
    align-items: center
    & .logo
        width 300px
    & .text
        width 120px
        font-size 2.4rem
        color #44AFF2

.social
    display flex
    justify-content: space-between
    list-style-type none
    width: 400px
    margin-left 10%
    margin-top 20px
    & li 
        cursor pointer
    & img
        width 80px