.variables
    margin 45px 0 20px 20px
    &__group
        padding 20px;
        &__title
            font-size 1.4rem
            width 200px
            margin 10px auto
        &__subtitle
            font-size 1.2rem
            width 200px
            margin 0 35%
        &__content
            margin-bottom 10px
        &__buttons
            width 350px
            padding 10px
.button--primary
    width 200px
    height 30px
    padding 10px
    background primary 
    border-radius 5px
    outline none 
    border none
    margin-bottom 10px

.button--secondary
    width 200px
    height 30px
    padding 10px
    background secondary 
    border-radius 5px
    outline none 
    border none
    margin-bottom 10px

.button--tertiary
    width 200px
    height 30px
    padding 10px
    background tertiary 
    border-radius 5px
    outline none 
    border none
    margin-bottom 10px

.nesting
    width 100%
    padding 20px
    &__header
        padding: 10px
        &__title
            font-size 1.8rem
            width 200px
            margin 0 auto

.nesting__article
    width 100%
    &__title
        font-size 1.2rem
        width 200px
        margin 10px auto
    &__content
        width 450px
        margin-left 20px

    