.variables {
  margin: 45px 0 20px 20px;
}
.variables__group {
  padding: 20px;
}
.variables__group__title {
  font-size: 1.4rem;
  width: 200px;
  margin: 10px auto;
}
.variables__group__subtitle {
  font-size: 1.2rem;
  width: 200px;
  margin: 0 35%;
}
.variables__group__content {
  margin-bottom: 10px;
}
.variables__group__buttons {
  width: 350px;
  padding: 10px;
}
.button--primary {
  width: 200px;
  height: 30px;
  padding: 10px;
  background: #07f2f2;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 10px;
}
.button--secondary {
  width: 200px;
  height: 30px;
  padding: 10px;
  background: #2ecef2;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 10px;
}
.button--tertiary {
  width: 200px;
  height: 30px;
  padding: 10px;
  background: #ff8329;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 10px;
}
.nesting {
  width: 100%;
  padding: 20px;
}
.nesting__header {
  padding: 10px;
}
.nesting__header__title {
  font-size: 1.8rem;
  width: 200px;
  margin: 0 auto;
}
.nesting__article {
  width: 100%;
}
.nesting__article__title {
  font-size: 1.2rem;
  width: 200px;
  margin: 10px auto;
}
.nesting__article__content {
  width: 450px;
  margin-left: 20px;
}
.get-stylus {
  width: 100%;
  height: 150px;
  padding: 20px;
}
.get-stylus h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.get-stylus p {
  width: 400px;
  margin: 0 0 10px 10px;
}
.get-stylus__code {
  padding: 10px;
  background: #ddd;
}
.hero {
  width: 100vw;
  height: 250px;
  background: #07f2f2;
  color: #f2f2f2;
  margin: -10px 0 0 0;
}
.hero h1 {
  font-size: 2rem;
  width: 250px;
  margin: 10px auto;
}
.hero p {
  width: 300px;
  margin: 0 auto;
}
.hero__btn {
  display: inline-block;
  margin: 20px 0 0 25%;
  width: 250px;
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ff8329;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
